@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    @apply w-full max-w-2xl xl:max-w-3xl lg:mx-auto text-lg lg:text-xl overflow-x-hidden;
}

#content {
    @apply px-2 pt-2 pb-[800px] relative;
    @apply flex flex-col gap-2;
}

h1 {
    @apply hidden;
}

.images img {
    @apply w-full;
}

#content > h2:first-of-type {
    @apply invisible absolute;
}

p br {
    @apply hidden;
}

h1 + p {
    @apply text-center m-0 p-0;
}

p:has(.logo) {
    @apply text-center;
}

h1 + p img:not(.logo) {
    @apply max-w-[550px];
}

.logo {
    @apply w-full max-w-[600px] mx-auto;
}

header {
    @apply hidden;
}

ul {
    @apply list-disc pl-6 pt-2;
}

ul li {
    @apply leading-7 mb-2;
}

a {
    @apply text-blue-500 underline;
}

ul li p {
    @apply my-0;
}

p {
    @apply leading-8 my-1;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    @apply mt-0;
}

div.sourceCode {
    @apply text-base lg:text-lg leading-6 lg:leading-7 bg-gray-50 text-gray-800 p-2 lg:p-4;
}

pre {
    @apply text-sm font-mono;
}

pre > code {
    @apply bg-gray-50 w-full leading-8;
}

h1,
h2,
h3 {
    @apply text-2xl mb-2;
}

h4,
h5,
h6 {
    @apply text-xl mb-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply mt-16 font-bold;
}

.compressed-group h2,
.compressed-group h3,
.compressed-group h4,
.compressed-group h5,
.compressed-group h6 {
    @apply mt-12 mb-2;
}

.compressed-group > :first-child {
    @apply mt-5;
}

.badges {
    @apply text-center mt-[-30px] mb-4;
}

.badges p {
    @apply flex w-full gap-2 justify-center;
}

.badges img {
    width: auto !important;
    @apply h-5;
}

.badges a {
    @apply no-underline;
}

.fork-me {
    @apply absolute top-0 right-0 z-30;
}

code {
    @apply bg-gray-100 p-[2px] text-lg font-mono;
}

blockquote {
    @apply m-0 mt-2 text-xl italic border-l-2 border-gray-400 pl-4;
}

blockquote p {
    @apply mx-0 my-1 leading-relaxed;
}

video {
    @apply w-full max-w-3xl mx-auto block;
}

p img:not(.logo) {
    @apply w-full max-w-3xl mx-auto;
}

figure {
    @apply m-0 mb-4;
}

figure figcaption {
    @apply text-center text-sm text-gray-600;
}

figure img {
    @apply w-full max-w-3xl mx-auto;
}

#TOC {
    @apply hidden md:block absolute h-full top-0 w-[300px] right-[-300px] text-sm;
}

#TOC ul {
    @apply pl-2;
}

#TOC a {
    @apply text-gray-500 hover:text-gray-600 no-underline;
}

#TOC a.active {
    @apply text-gray-800 font-bold;
}

#TOC > ul {
    @apply sticky block mt-[350px] top-3;
}

#content.gap-sm #TOC > ul {
    @apply mt-[150px];
}

#content.gap-sm-1 #TOC > ul {
    @apply mt-[170px];
}

#content.gap-sm-2 #TOC > ul {
    @apply mt-[190px];
}

#content.gap-sm-3 #TOC > ul {
    @apply mt-[210px];
}

#content.gap-sm-4 #TOC > ul {
    @apply mt-[230px];
}

#content.gap-md #TOC > ul {
    @apply mt-[250px];
}

#content.gap-md-1 #TOC > ul {
    @apply mt-[270px];
}

#content.gap-md-2 #TOC > ul {
    @apply mt-[290px];
}

#content.gap-md-3 #TOC > ul {
    @apply mt-[310px];
}

#content.gap-md-4 #TOC > ul {
    @apply mt-[330px];
}

#content.gap-lg #TOC > ul {
    @apply mt-[350px];
}

#content.gap-xl #TOC > ul {
    @apply mt-[425px];
}

#content.gap-2xl #TOC > ul {
    @apply mt-[550px];
}

#TOC ul li {
    @apply m-0 py-[1.5px] list-none leading-5;
}

#TOC > ul > li > ul {
    @apply pt-1;
}
